*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #efefef;
}
.div{
    width: 100%;
    height: 700px;
    background-position: bottom;
    background-image: url('./hero_home_june21.webp');
    
}



.navbar{
  width: 100%;
  height: 90px;
  box-shadow: 0px 0px 2px gray;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}
.navbar img{
  width: 102px;
  margin-left: 40px;
}
.navbar_collection{
  display: flex;
  align-items: center;
  margin-left: 120px;
  flex: 1;
}
.navbar_collection li{
  font-size: 16px;
  margin: 31px;
  color: #000;
  height: 24px;
}
.navbar_collection  li i{
  margin-left: 3px;
}
.navbar p{
  margin: 10px;
}
.login_box{
  display: flex;
  align-items: center;
  margin: 53px;
}
.login_box button{ 
  width: 119px;
  height: 34px;
  border: none;
  background-color: #2156FA;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin: 5px;
}




.core{
    padding-left: 350px;
    list-style-type: none;
    display: flex;
    font-weight: 600;
}
.yew{
    padding-left: 40px;
}
.yew:nth-child(1){
    color: gray;
}
.item:hover{
    color: rgb(28, 97, 28);
    transition: .4s;
}
.fa-chevron-down{
    transition: 1s;
}
.fa-chevron-down:hover{
    transform: rotateX(180deg);
    transition: 1s;
}
.text_logo_btn{
    font-size: 60px;
    font-weight: 900;
    padding-top: 35px;
    display: flex;
    padding-left: 80px;
}
.nomer{
    color: blue;
    display: flex;
}
.ppp{
    font-size: 22px;
    text-align: center;
    padding-top: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn_logo{
    width: 200px;
    height: 60px;
    background-color:blue;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    margin-top: 50px;
    margin-left: 300px;
    transition: 0.20s;
}
.btn_logo:hover{
    background-color: rgb(16, 16, 126);
    transition: 0.20s;
}
.number{
    width: 100%;
    height: 500px;
    display: flex;
}

.number1{
    width: 50%;
    height: 700px;
}
.btn_btn_come{
    width: 200px;
    height: 70px;
    background-color:rgb(140, 140, 224);
    border: none;
    font-size: 16px;
    color: white;
    margin-left: 100px;
    margin-top: 20px;
}
.btn_btn:hover{
    background-color: blue;
    color: white;
}
.ppppp{
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}
.stop{
    width: 100%;
    height: 710px;
    
    
}
.text_logo{
    width: 60%;
    height: 710px;
    background-color:white;
}
.tttt{
    color: blue;
    font-size: 60px;
    font-weight: 900;
    margin-top: -45px;
    padding-left: 150px;
    display: flex;
}

.online{
    font-size: 60px;
    font-weight: 900;
    margin-top: -30px;
    padding-left: 30px;
    display: flex;
}


.sell{
    font-size: 60px;
    font-weight: 900;
    margin-top: -30px;
    padding-left: 200px;
    display: flex;
    color: blue;
}
.text_logo>img{
    margin-left: 130px;
}
.wez{
    width: 100%;
    height: 250px;
    background-color: #efefef;
    margin-top: 100px;
}
.joker{
    font-size: 53px;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
}
.span{
    color: blue;
}
.pppppppp{
    font-size: 22px;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.faster{
    width: 90%;
    height: 500px;
    background-color:white;
    display: flex;
    margin-left: 5%;
    margin-top: 50px;
}
.faster1{
    width: 50%;
    height: 450px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.oxfort{
    width: 50px;
    font-size: 20px;
    height: 20px;
    background-color: rgb(18, 128, 8);
    margin-left: -350px;
}
.no{
    font-size: 25px;
    font-weight: 900;
}
.fees{
    padding-top: 18px;
    font-size: 20px;
}


.family{
    width: 90%;
    height: 350px;
    background-color:white;
    display: flex;
    margin-top: 50px;
    margin-left: 5%;
}
.hhtt{
    width: 600px;
    height: 300px;

}
.fast{
    width: 50%;
    height: 350px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.local{
    font-size: 18px;
    font-weight: 900;
    margin-left: -250px;
    padding-top: 20px;
}
.localation{
    font-size: 20px;
    color: rgb(8, 8, 104);
    font-weight: 900;
}
.passport{
    width: 50%;
    height: 350px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.faster2{
    width: 50%;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.nov{
    font-size: 20px;
    font-weight: 900;
    color: rgb(3, 3, 44);

}
.user{
    width: 100%;
    height: 250px;
    background-color:#010334;
    margin-top: 50px;
}
.city_text{
    font-size: 20px;
    text-align: center;
    padding-top: 70px;
    color: white;
}
.city{
    width: 200px;
    height: 70px;
    margin-left: 575px;
    background-color: rgb(79, 79, 228);
    margin-top: 50px;
    border: none;
    font-size: 22px;
    transition: 0.20s;
    color: white;
}
.city:hover{
    background-color: rgb(171, 171, 253);
    transition: 0.20s;

 }





.icon{
    width: 30px;
    height: 30px;

} 
 .tor{
    display: flex;
    padding-top: 15px;

}
.dark{
    width: 50%;
    height: 700px;
    padding-top: 70px;
    padding-left: 100px;
} 
.hhh{
    font-size: 30px; 
    font-weight: 900;
}

.color{
    color: blue;
   
}
.class{
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.534);
}

.btn_btn{
    width: 350px;
    height: 60px;
    background-color:rgb(142, 142, 230);
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    margin-top: 70px;
    margin-left: -20px;
    transition: 0.20s;
}
.btn_btn:hover{
    background-color: rgb(16, 16, 126);
    transition: 0.20s;
}

.font{
    flex-direction: column;
    line-height: 50px;
    margin-top: -30px;
    display: flex;
}

.import{
    font-size: 18px;
    font-weight: 300;
    padding-left: 20px;
}

.fomula{
    padding-top: 50px;
}   

.hp{
    width: 100%;
    height: 300px;
    margin-top: 70px;
}
.nihol{
    font-size: 46px;
    color:rgba(0, 0, 0, 0.829);
    font-weight: 900;
    text-align: center;
}
.kak{
     font-size: 25px;
     text-align: center;
     padding-top: 20px;
     font-weight: -900;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}














.kasb{
    width: 100%;
    height: 700px;
    margin-top: 50px;
    display: flex;
}
.inson{
    width: 60%;
    height: 750px;
    background-color:white;

}


.inson1{
    width: 40%;
    height: 750px;
    background-color:white;
}
.sport{
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    padding-top: 30px;
}
.ffaa{
    width: 400px;
    margin-left: 50px;
    margin-top: 200px;
    height: 470px;
}
.creat{
    font-size: 20px;
    padding-left: 100px;
    padding-top: 40px;
}
.eniga{
    width: 600px;
    height: 2px;
    background-color: gray;
    margin-top: 30px;
    margin-left: 100px;
}
.laylo{
    width: 200px;
    height: 70px;
    margin-left: 175px;
    background-color: rgb(8, 8, 199);
    margin-top: 50px;
    border: none;
    font-size: 22px;
    transition: 0.20s;
    color: white;
}
.laylo:hover{
    background-color: blue;
    transition: 0.20s;

 }

.eni{
    width: 600px;
    height: 2px;
    background-color: gray;
    margin-top: 50px;
}
.parvoz{
    color: blue;
}
.footer{
    font-size: 20px;
    font-weight: 100;
    color: rgb(34, 30, 30);
    padding-top: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer_end{
    flex-direction: column;
    padding-left: 100px;
}




.polo{
    width: 100%;
    height: 800px;
    background-color: red;
    margin-top: 100px;
    padding-top: 20px;
    background-image: url('https://www.jimdo.com/static/7566c32a4052f10360ec54052d3e485f/4f8b3/ltg_section.webp');
}
.karzina{
    width: 45%;
    height: 740px;
    background-color:white;
    margin-left: 700px;
}
.liga{
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    margin-top: -10px;
}

.liga1{
    font-size: 35px;
    font-weight: 900;
    color: blue;
    text-align: center;
    padding-top: 20px;

    }
    .size{
        font-size: 19px;
        text-align: center;
        padding-top: 30px;
    }
    
.en{
    width: 400px;
    height: 2px;
    background-color: gray;
    margin-top: 50px;
    margin-left: 70px;
}
.compyuter{
    padding-left: 100px;
    font-size: 16px;
}
.cons{
    padding-top: 20px;
}
.fura{
    width: 140px;
    height: 140px;
    margin-left: 200px;
    margin-top: 10px;
    
}
.terminator{
    font-size: 20px;
    padding-left: 100px;
    padding-top: 20px;
}.laylak{
    width: 100%;
    height: 500px;
    display: flex;
}
.export{
    width: 48%;
    height: 500px;
    margin-left: 1%;
    padding-top: 100px;
    padding-left: 100px;
}
.project{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}


.project1{
    font-size: 32px;
    font-weight: 900;
    margin-top: -10px;
    text-align: center;
    color: blue;
}









* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.apple{
  width: 100%;
  height: 500px;
  margin-top: 250px;
}
.dastur{
  width: 120px;
  height: 80px;
  margin-left: 30px;
}
.h4{
  font-weight: 900;
  text-align: center;
}
.spam{
  color: blue;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}
.hash{
  margin-top: 40px;
}
.document{
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}
.banner_faq{
  width: 80%;
  height: 410px;
  margin:30px auto;
}
.banner_faq h2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  font-weight: 500;
  border-bottom: 2px solid #000;
  font-size: 20px;
}
.banner_faq h2 p{
  padding: 4px 6px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-size: 13px;
}



.nozima{
  width: 24%;
  height: 300px;
  margin-left: 10px;
  flex-direction: column;
  display: flex;
  padding-left: 50px;
}
.nozima >a{
  font-size: 20px;
  padding-left: 50px;
  padding-top:20px;
}
.telegram{
  width: 100%;
  height: 200px;
  background-color:#010334;
}
.volvo{
  text-align: center;
  color: white;
  padding-top: 30px;
  font-size: 20px;
}




.bycle{
  width: 200px;
  height: 60px;
  font-size: 16px;
  background-color:rgb(94, 94, 218);
  border: 2px solid blue;
  font-weight: 600;
  color: rgb(0, 47, 255);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 550px;
  transition: 0.20s;
  margin-top: 40px;
  flex-direction: column;
}
.bycle:hover{
  background-color: rgb(45, 45, 189);
  transition: 0.20s;
  color: white;
}
.acer1{
  width: 350px;
  height: 300px;
  padding-left: 40px;
  padding-top: -50px;
}
.fazo{
  font-size: 30px;
padding-top: 40px;

}
.fa-twitter{
  margin-left: 20px;
}
.fa-instagram{
    margin-left: 20px;
}
.fa-youtube{
    margin-left: 20px;
}
.fa-pinterest{
  margin-left: 20px;
}
.samsung{
    word-wrap: 100%;
    height: 300px;
    padding-top: 50px;
    display: flex;
}
.nozima1{
  width: 24%;
  height: 300px;
  margin-left: 10px;
  flex-direction: column;
  display: flex;
  margin-left: -50px;
}
.nozima1 >a{
  font-size: 20px;
  padding-top:20px;
  padding-left: 40px;
}
.www{
font-size: 20px;
padding-left: 50px;

}
.wwww{
  font-size: 20px;
  padding-left: 36px;
  }
.purple{
padding-left: 50px;  
padding-top: 50px;
width: 100%;
height: 130px;
}
.purple>a{
     padding-left: 50px;
}












@media screen and (max-width:450px){
  .navbar{
    justify-content: space-between;
    height: 68px;
    padding: 0px 20px;
}
.navbar_collection{
    display: none;
}
.navbar p{
    display: none;
}
.login_box button{
    margin-left: 100px;
}
.navbar img{
    margin-left: 20px;
    width: 91px;
}
.navbar i{
    display: block;
    margin-left: -50px;
    font-size: 26px;
  }
  .number{
    flex-direction: column;
    width: 200%;
  }
  .text_logo_btn{
    font-size: 36px;
    margin-left: -50px;
  }
  .online{
    font-size: 36px;
    line-height: 80px;
  }
  .sell{
    font-size: 36px;
    margin-top: -20px;
    margin-left: -30px;
  }
  .middle{
    width: 400px;
    margin-top: 300px;

  }
  .text_logo{
    flex-direction: column;
  }
  body{
    margin: 0px 20px;
    flex-wrap: wrap;
  }
  .ppppp{
    margin-top: -500px;
    width: 500px;
    font-size: 15px;
    margin-left: -50px;
  }
  .number1 img{
    width: 500px;
    height: 400px;
    margin-top: 39px;
  }
  .joker{
    width: 500px;
    font-size: 30px;
    margin-top: 100px;
    margin-left: -50px;
  }
  .wez{
    width: 400px;
    margin-top: 150px;
  }
  .pppppppp{
    width: 500px;
    font-size: 20px;
  }
  .faster1{
    width: 400px;
    height: 300px;
  }
  .faster{
    flex-direction: column;
    margin-top: 120px;
  }
  .no{
    width: 600px;
    font-size: 26px;
    margin-top: -10 00px;
    margin-left: 200px;
  }
  .fees{
    font-size: 16px;
    width: 600px;
    margin-left: 200px;
  }
  .family{
    flex-direction: column;
  }
  .family img{
    margin-left: 200px;
  }
  .faster1 img{
    margin-top: 500px;
    width: 400px;
    height: 500px;
  }
  .btn_btn_come{
    width: 200px;
    height: 50px;
  }
  .nov{
    margin-top: 200px;
  }
   .family{
       margin-top: -170px;
       width: 500px;
   }
   .local{
       margin-left: 150px;
       width: 300px;
       font-size: 30px;
        margin-top: -100px;
   }
   .klaviatura video{
    width: 400px;
    height: 400px;
    margin-left: 20px;
   }
   .feese{
    font-size: 16px;
    width: 400px;
    padding-top: 20px;
    margin-left: 200px;
   }
   .passport{
      padding-left: 100px;
   }
   .faster2 img{
     margin-top: 550px;
     margin-left: 650px;
     width: 100px;
     height: 100px;
   }
   .faster1  img{
          margin-top: 600px;
          margin-left: 200px;
   }
   .localation{
      font-size: 25px;
      width: 300px;
      margin-left: 100px;
   }
   .fewe{
    margin-left:300px;
    width: 500px;
    margin-top: 20px;
   }
   .nov{
      font-size: 20px;
      margin-left: -50px;
      width: 300px;
     padding-top: 50px;
   }
   .faster11{
      margin-left: 300px;
      margin-top: 600px;
   }

  }


























